# coverage
*.gcno
*.gcda

# compiled
*.o
*.a

# junk
/main.c
/a.out
/libmy.a
.bash_history
.DS_Store
.cache
.vscode
/TODO.md
.idea
.clang-format
.clangd
.clang-tidy
/src/parser/utils.txt
compile_commands.json
*.log

# project bin
/42sh
